<h1>About</h1>
    <p>
      Project created for CS 441 at <a href="http://uic.edu/">UIC</a> by Nirari Barm
    </p>
 <p>
    CSS styles from Sample App tutorial on <%= link_to "http://ruby.railstutorial.org" %>
</p>
